.footer {
    font-family: 'Poppins' sans-serif;
    .col-md-6{
      a {
        color: $purple-rain;
      }
      color:$purple-rain;
    }
    .list-unstyled{
      color: $yellow-dk !important;
      li{
    
        color: $yellow-dk !important;
      }
    }
   }
  