<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Project Starter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="Project 1" />

    <link rel="stylesheet" href="./stylesheets/main.scss" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Optional JavaScript; jQuery and Bootstrap JS (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>


  <!--POPPINS FONT-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!--RHODIUM-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rhodium+Libre&display=swap" rel="stylesheet">

<!--PRIDI-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pridi:wght@200;300;400;500;600;700&family=Rhodium+Libre&display=swap" rel="stylesheet">
 
<!--WORK SANS-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pridi:wght@200;300;400;500;600;700&family=Rhodium+Libre&family=Work+Sans:wght@100&display=swap" rel="stylesheet">

<!--Fragment Mono-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap" rel="stylesheet">

<!--SPACE MONO-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>

<style>
  h2{
    padding: 1rem;
  }
  .table-responsive {
    padding-top: 1rem;
    padding-bottom: 1rem;
  @media screen and (max-width:800px) {
    width:100%;
  }
}
</style>

  <body>
    
    <div class="container mt-4">
      <div class="row">
          <div class="col-12">
              <h2>{{ location }}</h2>
              <h2>{{ menu }}</h2>
              {% if message %}
              <div class="alert alert-info" role="alert">
                  {{ message.message }}
                  <a href = "{{ message.link }}">{{ message.link_text }}</a>
              </div>    
              {% endif %}
          </div>
      </div>
  
      {% include "beehive/table.html" %}

      {% if receive %}
      <h2 class="text-center">Open to receive</h2>
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr class="table-header">
                      <th scope="col">Tx id</th>
                      <th scope="col">Menu</th>
                      <th scope="col">Meal</th>
                      <th scope="col">Size</th>
                      <th scope="col">Tx From</th>
                      <th scope="col">Tx By</th>
                      <th scope="col">Tx Time</th>
                      <th scope="col">Recieve</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>{{ r.pk }}</td>
                      <td>{{ r.menu }}</td>
                      <td>{{ r.meal }}</td>
                      <td>{{ r.size }}</td>
                      <td>{{ r.from_location }}</td>
                      <td>{{ r.tx_by }}</td>
                      <td>{{ r.tx_at }}</td>
                      <td>
                          <a href="{% url 'receive_transfer' r.pk %}">
                              <img src="{% static 'img/receive.png' %}" height="15" alt="Receive">
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="text-center">
      <a href="{% url 'receive' location.pk %}" class="btn btn-primary text-center">All transfers to this location</a>
      {% endif %}
      </div>

      {% if transfer %}
      <h2 class="text-center">Open Transfers</h2>
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr class="table-header">
                      <th scope="col">Tx id</th>
                      <th scope="col">Menu</th>
                      <th scope="col">Meal</th>
                      <th scope="col">Size</th>
                      <th scope="col">Tx to</th>
                      <th scope="col">Tx By</th>
                      <th scope="col">Tx Time</th>
                      <th scope="col">Tx Qty</th>
                  </tr>
              </thead>
              <tbody>
                  {% for r in transfer %}
                      <tr>
                          <td>{{ r.pk }}</td>
                          <td>{{ r.menu }}</td>
                          <td>{{ r.meal }}</td>
                          <td>{{ r.size }}</td>
                          <td>{{ r.to_location }}</td>
                          <td>{{ r.tx_by }}</td>
                          <td>{{ r.tx_at }}</td>
                          <td>{{ r.tx_qty }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      {% endif %}
  </div>
      {% endblock %}

  </body>
</html>
